$button-color: #0D606F;

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 10px;
    color: #000;
    font-family: 'Red hat text';
    font-size: 10px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.button {
    background-color: $button-color;
    color: white;
    font-size: 500;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
}

.section-title {
    color: #F2785C;
    font-weight: 500;
    font-size: 4rem;
    line-height: 132.3%;
    margin: 0 auto;
    width: max-content;
    text-align: center;
}

@media (max-width: 699px) {
    .section-title {
        font-size: 3rem;
    }
}

@media (max-width: 559px) {
    .section-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 494px) {
    .section-title {
        font-size: 2rem;
    }
}

@media (max-width: 390px) {
    .section-title {
        font-size: 1.4rem;
    }
}

.container {
    max-width: 1200px;
    width: 83.3%;
    margin: 0 auto;
}

.header {
    background-color: rgba(242, 120, 92, 0.7);;
    height: 90px;
    padding: 25px 0 0 0;
    margin: 0 0 33px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

    .header-container {
        display: flex;
        align-items: center;
        height: 41px;
        justify-content: space-between;

        .logo-section {
            width: 216px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 31px;
            z-index: 10;

            .logo__title {
                font-family: Magra;
                font-weight: 600;
                font-size: 3.2rem;
                line-height: 121.5%;
                color: white;
            }

            @media (max-width: 984px) {
                .logo__title {
                    display: none;
                }
            }
        }

        @media (max-width: 984px) {
            .logo-section {
                width: 30px;
            }
        }

        nav {
            width: 44%;

            ul {
                display: flex;
                width: 100%;
                height: 21px;
                justify-content: space-between;
                align-items: center;

                li {
                    a {
                        color: white;
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 132%;
                    }
                }
            }
        }

        @media (max-width: 1199px) {
            nav {
                width: 50%
            }
        }

        @media (max-width: 1049px) {
            nav {
                width: 55%
            }
        }

        @media (max-width: 984px) {
            nav {
                width: 70%
            }
        }

        @media (max-width: 703px) {
            nav {
                display: none;
            }
        }

        .login-button {
            width: 103px;
            height: 41px;
            cursor: pointer;
        }

        @media (max-width: 759px) {
            .login-button {
                display: none;
            }
        }

        .burger-button {
            display: none;
        }

        @media (max-width: 759px) {
            .burger-button {
                display: block;
                width: 35px;
                height: 32px;
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                justify-content: center;
                align-items: center;

                .trait {
                    width: 26.25px;
                    height: 2px;
                    background-color: white;
                }
            }
        }
    }

    @media (max-width: 759px) {
        .header-container {
            width: 92%;
        }
    }
}

@media (max-width: 703px) {
    .header {
        height: 53px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        padding: 0;
    }
}

@media (max-width: 589px) {
    .header {
        margin-bottom: 17.179vw;
    }
}

.preview {
    height: 54vw;
    background: url("assets/preview-background.png") no-repeat;
    background-size: cover;

    .preview__container {

        .preview-content {
            width: 74%;
            height: 422px;
    
            .preview-title {
                width: 100%;
                font-family: Aleo;
                color: white;
                font-size: 8rem;
                line-height: 120%;
                font-weight: 700;
                margin: 0 0 56px;
            }

            @media (max-width: 1126px) {
                .preview-title {
                    font-size: 7.5rem;
                } 
            }

            @media (max-width: 1056px) {
                .preview-title {
                    font-size: 7rem;
                } 
            }

            @media (max-width: 994px) {
                .preview-title {
                    font-size: 5rem;
                } 
            }

            @media (max-width: 894px) {
                .preview-title {
                    font-size: 4.5rem;
                    margin-bottom: 12px;
                } 
            }

            @media (max-width: 589px) {
                .preview-title {
                    display: none;
                } 
            }
    
            .preview-description {
                font-family: Aleo;
                font-weight: 700;
                font-style: italic;
                font-size: 2rem;
                line-height: 120%;
                color: white;
                margin: 0 0 26px;
            }

            @media (max-width: 589px) {
                .preview-description {
                    display: none;
                } 
            }
    
            .preview__planning {
                height: 95px;
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 0 2% 0 4.6%;
                column-gap: 5%;
    
                p {
                    width: 62.7%;
                    font-family: Aleo;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 2.4rem;
                    line-height: 120%;
                    color: #F2785C;
                }

                @media (max-width: 720px) {
                    p {
                        width: 62.7%;
                        font-size: 1.4rem;
                    }
                }

                @media (max-width: 383px) {
                    p {
                        width: 70%;
                        font-size: 1.2rem;
                    }
                }
                
                button {
                    width: 228px;
                    height: 59px;
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 132.3%;
                }

                @media (max-width: 720px) {
                    button {
                        width: 92px;
                        height: 30px;
                        font-size: 1.1rem;
                        line-height: 132.3%;
                    }
                }
            }

            @media (max-width: 720px) {
                .preview__planning  {
                    height: 48px;
                    column-gap: 20%;
                }
            }
        }

        @media (max-width: 1029px) {
            .preview-content {
                height: 400px;
            }
        }

        @media (max-width: 994px) {
            .preview-content {
                height: 350px;
            }
        }

        @media (max-width: 894px) {
            .preview-content {
                height: 300px;
            }
        }

        @media (max-width: 884px) {
            .preview-content {
                width: 100%;
            }
        }

        @media (max-width: 797px) {
            .preview-content {
                height: 250px;
            }
        }
    }

    @media (max-width: 884px) {
        .preview__container {
            width: 92.3%;
        }
    }
}

@media (max-width: 703px) {
    .preview {
        height: 64.358vw;
        padding-top: 43px;
    }
}

.steps-section {
    height: 424px;
    padding: 80px 0 0;

    .steps-container {
        .steps-title {
            margin: 0 auto 40px;
        }
    
        .steps {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 2rem;
    
            .step {
                width: max-content;
                text-align: center;
    
                img {
                    margin: 0 0 30px;
                }
    
                @media (max-width: 899px) {
                    img {
                        width: 70px;
                        height: 70px;
                        margin: 0 0 19px;
                    }
                }
    
                p {
                    color: #0D606F;
                    font-family: Aleo;
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 120%;
                }
    
                @media (max-width: 899px) {
                    p {
                        font-size: 1.2rem;
                    }
                }
            }

            @media (max-width: 499px) {
                .step {
                    max-width: 111px;
                }
            }
        }
    }

    @media (max-width: 549px) {
        .steps-container {
            width: 92.3%;
        }
    }
}

.destination-section {
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .destination-container {
        width: 55.555vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .destination-title {
            width: 100%;
            margin-bottom: 46px;
        }

        .carousel-images {
            flex-grow: 1;
            overflow-x: visible;
            display: flex;
            column-gap: 4.166vw;
            justify-content: flex-start;
            margin-bottom: 24px;
            position: relative;

            &.first-image {
                margin-left: 0;
                transition: 1s;
            }

            &.second-image {
                margin-left: -59.722vw;
                transition: 1s;
            }

            @media (max-width: 703px) {
                &.second-image {
                    margin-left: -96.153vw;
                }
            }

            &.third-image {
                margin-left: -119.444vw;
                transition: 1s;
            }

            @media (max-width: 703px) {
                &.third-image {
                    margin-left: -192.307vw;
                }
            }

            & > img {
                width: 55.555vw;
                height: 55.555vw;
                margin-left: 10;
                margin-right: 10;
                border-radius: 10px;
                flex-shrink: 0;
                flex-grow: 0;
            }

            @media (max-width: 703px) {
                & > img {
                    width: 92.307vw;
                    height: 53.846vw;
                }
            }

            .country {
                position: absolute;
                color: white;
                font-weight: 500;
                font-size: 2.222vw;
                line-height: 132.3125%;
                top: 49.861vw;

                &.spain {
                    left: 1.0416vw;
                }

                @media (max-width: 703px) {
                    &.spain {
                        left: 3.846vw;
                    } 
                }

                &.japan {
                    left: 100vw;
                }
                
                &.usa {
                    left: 200vw;
                }
            }

            @media (max-width: 703px) {
                .country {
                    font-size: 5.128vw;
                    line-height: 132.3%;
                    top: 2.0512vw;
                }
            }
        }

        @media (max-width: 703px) {
            .carousel-images {
                column-gap: 3.846vw;
            }
        }

        .carousel-switches-block {
            width: 80px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto 40px;

            label {
                width: 20px;
                height: 20px;
                background: rgba(242, 120, 92, 0.5);
                border-radius: 100%;
                cursor: pointer;
            }

            @media (max-width: 703px) {
                label {
                    width: 8px;
                    height: 8px;
                }
            }

            input:checked + label {
                background: #F2785C;
            }
        }

        @media (max-width: 703px) {
            .carousel-switches-block {
                position: absolute;
                bottom: 3.5vw;
                left: 50%;
                transform: translateX(-50%);
                width: 36px;
                height: 8px;
            }
        }

        @media (max-width: 499px) {
            .carousel-switches-block {
                bottom: 3.75rem;
            }
        }

        .button {
            width: 28.5%;
            height: 59px;
            display: flex;
            align-items: center;
            column-gap: 4.385%;
            margin: 0 auto;
            justify-content: center;

            @media (max-width: 924px) {
                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            @media (max-width: 849px) {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            @media (max-width: 574px) {
                svg {
                    width: 10px;
                    height: 10px;
                }
            }

            span {
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 132.91%;
            }

            @media (max-width: 1074px) {
                span {
                    font-size: 2rem;
                }
            }

            @media (max-width: 849px) {
                span {
                    font-size: 1.5rem;
                }
            }

            @media (max-width: 724px) {
                span {
                    font-size: 1.1rem;
                }
            }
        }

        @media (max-width: 849px) {
            .button {
                width: 25.555%;
                height: 30px;
            }
        }

        .carousel-arrow {
            position: absolute;
            display: none;
        }

        @media (max-width: 703px) {
            .carousel-arrow {
                display: block;
                top: 52.5%;
                cursor: pointer;

                &.carousel-arrow-left {
                    left: 1.282vw;
                    transform: rotate(180deg);
                }

                &.carousel-arrow-right {
                    left: 83.333vw;
                }
            }
        }
    }

    @media (max-width: 703px) {
        .destination-container {
            width: 92.307vw;

        }
    }
}

@media (max-width: 800px) {
    .destination-section {
        margin-bottom: 40px;
    }
}

@media (max-width: 390px) {
    .destination-section {
        margin-bottom: 20px;
    }
}

.stories-title {
    margin-bottom: 80px;
}

@media (max-width: 800px) {
    .stories-title {
        margin-bottom: 40px;
    }
}

@media (max-width: 390px) {
    .stories-title {
        margin-bottom: 10px;
    }
}

.stories-wrapper {
    height: 92.43vw;
    background: url("assets/stories-background.png") no-repeat;
    background-size: cover;

    .stories-section {
        background: rgba(255, 255, 255, 0.7);

        .stories-container {
            padding: 30px 0 30px;

            .story-card {
                display: flex;
                justify-content: space-between;
                column-gap: 3.333%;
                height: 17.857vw;
                margin-bottom: 30px;
    
                .story-image {
                    width: 27.777vw;
                    height: 17.361vw;
                    background-size: cover;
                    border-radius: 16px;
                    background-size: cover;
                }

                @media (max-width: 623px) {
                    .story-image {
                        width: 39.749vw;
                        height: 33.333vw;
                    }
                }
    
                .story-image-1 {
                    background: url("assets/story-image_1.png");
                }

                .story-image-2 {
                    background: url("assets/story-image_2.png");
                }

                .story-image-3 {
                    background: url("assets/story-image_3.png");
                }

                .story-image-4 {
                    background: url("assets/story-image_4.png");
                }
    
                .story {
                    color: hsl(189, 79%, 24%);
                    width: 63.333%;
    
                    h3 {
                        font-weight: 700;
                        font-size: 3.5rem;
                        margin-bottom: 24px;
                        font-family: Aleo;
                        line-height: 120%;
                    }

                    @media (max-width: 1299px) {
                        h3 {
                            font-size: 3rem;
                        }
                    }

                    @media (max-width: 1213px) {
                        h3 {
                            margin-bottom: 12px;
                        }
                    }

                    @media (max-width: 1144px) {
                        h3 {
                            font-size: 2.5rem;
                        }
                    }

                    @media (max-width: 974px) {
                        h3 {
                            font-size: 2rem;
                        }
                    }

                    @media (max-width: 784px) {
                        h3 {
                            font-size: 1.5rem;
                        }
                    }

                    @media (max-width: 642px) {
                        h3 {
                            font-size: 1.1rem;
                        }
                    }

                    @media (max-width: 338px) {
                        h3 {
                            font-size: 1rem;
                        }
                    }
    
    
                    p {
                        font-weight: 400;
                        font-family: Aleo;
                        font-size: 2rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-height: 144px;
                        line-height: 120%;
                    }

                    @media (max-width: 1299px) {
                        p {
                            font-size: 1.7rem;
                        }
                    }

                    @media (max-width: 1124px) {
                        p {
                            font-size: 1.4rem;
                        }
                    }

                    @media (max-width: 924px) {
                        p {
                            font-size: 1.1rem;
                        }
                    }

                    @media (max-width: 746px) {
                        p {
                            font-size: 0.9rem;
                        }
                    }

                    @media (max-width: 433px) {
                        p {
                            max-height: 86.4px;
                        }
                    }

                    @media (max-width: 363px) {
                        p {
                            max-height: 75.6px;
                        }
                    }

                    @media (max-width: 338px) {
                        p {
                            font-size: 0.8rem;
                        }
                    }

                    a {
                        font-weight: 700;
                        text-decoration: underline;
                        font-family: Aleo;
                        line-height: 120%;
                        font-size: 2rem;
                    }

                    @media (max-width: 1299px) {
                        a {
                            font-size: 1.7rem;
                        }
                    }

                    @media (max-width: 1124px) {
                        a {
                            font-size: 1.4rem;
                        }
                    }

                    @media (max-width: 924px) {
                        a {
                            font-size: 1.1rem;
                        }
                    }

                    @media (max-width: 746px) {
                        a {
                            font-size: 0.9rem;
                        }
                    }

                    @media (max-width: 338px) {
                        a {
                            font-size: 0.8rem;
                        }
                    }
                }

                @media (max-width: 623px) {
                    .story {
                        width: 54.166%;
                    }
                }
            }

            @media (max-width: 623px) {
                .story-card {
                    height: 33.333vw;
                    column-gap: 2.777%;
                }
            }

            .button {
                width: 19%;
                height: 59px;
                display: flex;
                align-items: center;
                column-gap: 4.385%;
                margin: 0 auto;
                justify-content: center;

                @media (max-width: 749px) {
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }

                @media (max-width: 599px) {
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                @media (max-width: 390px) {
                    svg {
                        width: 10px;
                        height: 10px;
                    }
                }

                span {
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 132.91%;
                }

                @media (max-width: 1004px) {
                    span {
                        font-size: 2rem;
                    }
                }

                @media (max-width: 889px) {
                    span {
                        font-size: 1.5rem;
                    }
                }

                @media (max-width: 639px) {
                    span {
                        font-size: 1.1rem;
                    }
                }
            }

            @media (max-width: 639px) {
                .button {
                    width: 92px;
                    height: 30px;
                }
            }
        }

        @media (max-width: 623px) {
            .stories-container {
                width: 92.307%;
            }
        }
    }
}

@media (max-width: 1364px) {
    .stories-wrapper {
        height: 93vw;
    }
}

@media (max-width: 1329px) {
    .stories-wrapper {
        height: 95vw;
    }
}

@media (max-width: 1221px) {
    .stories-wrapper {
        height: 97vw;
    }
}

@media (max-width: 1114px) {
    .stories-wrapper {
        height: 99vw;
    }
}

@media (max-width: 1037px) {
    .stories-wrapper {
        height: 101vw;
    }
}

@media (max-width: 967px) {
    .stories-wrapper {
        height: 103vw;
    }
}

@media (max-width: 906px) {
    .stories-wrapper {
        height: 105vw;
    }
}

@media (max-width: 853px) {
    .stories-wrapper {
        height: 107vw;
    }
}

@media (max-width: 804px) {
    .stories-wrapper {
        height: 109vw;
    }
}

@media (max-width: 762px) {
    .stories-wrapper {
        height: 111vw;
    }
}

@media (max-width: 723px) {
    .stories-wrapper {
        height: 113vw;
    }
}

@media (max-width: 689px) {
    .stories-wrapper {
        height: 115vw;
    }
}

@media (max-width: 661px) {
    .stories-wrapper {
        height: 117vw;
    }
}

@media (max-width: 627px) {
    .stories-wrapper {
        height: 119vw;
    }
}

@media (max-width: 623px) {
    .stories-wrapper {
        height: 177.7vw;
    }
}

@media (max-width: 579px) {
    .stories-wrapper {
        height: 180vw;
    }
}

@media (max-width: 551px) {
    .stories-wrapper {
        height: 182vw;
    }
}

@media (max-width: 529px) {
    .stories-wrapper {
        height: 184vw;
    }
}

@media (max-width: 508px) {
    .stories-wrapper {
        height: 186vw;
    }
}

@media (max-width: 487px) {
    .stories-wrapper {
        height: 188vw;
    }
}

@media (max-width: 471px) {
    .stories-wrapper {
        height: 190vw;
    }
}

@media (max-width: 453px) {
    .stories-wrapper {
        height: 192vw;
    }
}

@media (max-width: 437px) {
    .stories-wrapper {
        height: 195vw;
    }
}

@media (max-width: 417px) {
    .stories-wrapper {
        height: 198vw;
    }
}

@media (max-width: 397px) {
    .stories-wrapper {
        height: 201vw;
    }
}

@media (max-width: 380px) {
    .stories-wrapper {
        height: 204vw;
    }
}

@media (max-width: 363px) {
    .stories-wrapper {
        height: 207vw;
    }
}

@media (max-width: 349px) {
    .stories-wrapper {
        height: 210vw;
    }
}

@media (max-width: 335px) {
    .stories-wrapper {
        height: 213vw;
    }
}

@media (max-width: 322px) {
    .stories-wrapper {
        height: 216vw;
    }
}

.footer {
    padding: 15px 0 0;

    .footer-container {
        display: flex;
        justify-content: flex-end;
        column-gap: 27.333%;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 132.3125%;
            color: white;
        }

        @media (max-width: 661px) {
            p {
                display: none;
            }
        }

        .contacts {
            width: 140.96px;
            height: 33.65px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 661px) {
        .footer-container {
            justify-content: center;
        }
    }
}